a.legislation_link {
  color: black;
}

.legislation {
  border: 1px solid lightgray;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
}

.legislation-desc {
  width: calc(100% / 7);
  padding: 5px;
  vertical-align: middle;
}
