.Header {
    top:198px;
    left:365px;
    width:62px;
    height:51px;
    color:white;
    position:absolute;
    text-align:center;
    background-color:black;
}

.HeaderFormat {
    margin:auto;
    line-height:51px;
    vertical-align:middle;
}