.legislation-instance {
    width: 1200px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 20px;
    margin-top: 20px;
    background-color: aliceBlue;
}

.legislation-instance:hover {
    background-color: aliceBlue;
    cursor: default;
}
.legislation-instance-image {
    width: 20%;
    margin-bottom: 10px;
}

.legislation-instance-name {
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 5px;
}

.legislation-instance ul {
    margin: 0;
    padding: 0;
}
.legislation-instance-desc {
    text_align: center;
    margin: 0;
}

.legislation-instance-desc span {
    font-weight: bold;
}
