.district-instance {
    width: 500px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 75px;
    background-color: aliceBlue;
}

.district-instance:hover {
    background-color: aliceBlue;
    cursor: default;
}

.district-instance-image {
    width: 60%;
    margin-bottom: 10px;
}

.district-instance-map {
    margin-bottom: 7px;
}
.district-instance-rep-image {
    width: 60%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.district-instance-head {
    padding-bottom: 7px;
}
.district-instance-name {
    margin: 0;
    font-weight: bold;
    font-size: 120%;
}

.district-instance-wiki {
    align-content: center;
}

.district-instance ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.district-instance-desc {
    margin: 0;
    padding-left: 10px;
}

.district-instance-desc span {
    font-weight: bold;
}
