.representative-instance {
    width: 500px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 20px;
    margin-top: 75px;
    background-color: aliceBlue;
}

.representative-instance:hover {
    background-color: aliceBlue;
    cursor: default;
}

.representative-instance-image {
    width: 55%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.representative-instance-name {
    margin: auto;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 5px;
}

.representative-instance ul {
    margin: 0;
    padding: 0;
}
.representative-instance-desc {
    margin: 0;
}

.representative-instance-desc span {
    font-weight: bold;
}

.district-map {
    margin-top: 10px;
}
