.cardRow {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.title {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.descriptionHeader {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 3rem;
}
.descriptionHeader2 {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.descriptionHeader3 {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.footer {
    display: flex;
    justify-content: center;
    padding-top: .5rem;
}

.contactCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    justify-content: center;
}

.descriptionBody {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2rem;
    font-family: Calibri;
    font-size: 17.5px;
}

.descriptionBody2 {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2rem;
    font-family: Calibri;
    font-size: 17.5px;

}

.dataSources {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titleCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contactCard2 {
    display: flex;
    padding-top: 1rem;
    justify-content: center;
    padding-bottom: 2rem;
}

.toolsHeader {
    display: flex;
    justify-content: center;
}

.toolsContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.toolName {
    display: flex;
    justify-content: center;
}