path {
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  
  .districts {
    fill: #bbb;
  }
  
  .districts :hover {
    fill: orange;
  }
  
  .district-boundaries {
    pointer-events: none;
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
  }
  
  .state-boundaries {
    pointer-events: none;
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
  }
  